* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.wrapper {
  display: grid;
  place-items: center;
  // background: red;
  
}

.grid{
  display: grid;
  // grid-template-columns:repeat(12, 1fr);
  // grid-template-rows:repeat(12, 1fr);
  grid: repeat(12, 1fr)/ repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  // background: red;

}

.header {
  border: 1px solid rgb(67, 55, 55);
  color : white;
  // grid-column: 1/13;
  // grid-row: 1/2;
  grid-area: 1/1/2/13;
}

.playlist {
  border: 1px solid rgb(67, 55, 55);
  grid-area: 2/1/12/5;
  color : white;
}

.react-player{
  border: 1px solid rgb(67, 55, 55);
  grid-area: 2/5/7/13;
  color : white;
}

.searchbar {
  border: 1px solid rgb(67, 55, 55);
  grid-area: 7/5/8/13;
  color : white;
}

.songs{
  border: 1px solid rgb(67, 55, 55);
  grid-area: 8/5/12/13;
  color : white;
}

.footer {
  border: 1px solid rgb(67, 55, 55);
  grid-area: 12/1/13/13;
  color : white;
}

.login-container{
  border: 1px solid white;
  grid-area: 4/5/9/9;
  color : white;
  display: grid;
  grid: repeat(12, 1fr)/ repeat(12, 1fr);
  place-items: center;

  h1{
    color: rgba(2, 182, 2, 0.836);
    grid-area: 3/4/6/10;
    font-size: 3em;
  }
}


$login-button-background: rgb(83, 83, 83);
$login-button-hover-background: rgb(110, 110, 110);

.login-button{
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background: $login-button-background;
  grid-area: 7/6/8/8;
  display: grid; 
  place-items: center;

  &:hover {
    background-color: $login-button-hover-background;
  }

  a{
    text-decoration: none;
    color: white;
    background: none;

    &:hover{
      color: rgba(238, 238, 238, 0.856);
    }
  }


}

// tablets
@media (min-width: 480px){
  .grid{
    max-width: 900px;
  }
}

// small laptops
// @media (min-width: 780px) {

// }


// desktops
// @media (min-width: 1025px) {

// }

// extra large screen
// @media (min-width: 1200px) {

// }
